<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描以下包,但不扫描@Controller,@Controller交给springMVC容器扫描,原因https://www.cnblogs.com/hafiz/p/5875740.html -->
    <context:component-scan base-package="com.summit">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--全局异常处理-->
    <!--改用了异常处理改为使用CustomControllerAdvice，CommonExceptionResolver用不上了-->
    <!--<bean id="exceptionSolver" class="com.summit.base.exception.CommonExceptionResolver"/>-->

    <!-- 配置MultipartResolver 用于文件上传 使用spring的CommosMultipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="209715200"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="uploadTempDir" value="temp/fileUpload"/>
    </bean>

    <bean name="d2,d3" id="d1" class="com.summit.common.injectDemo.model.Dog">
        <property name="name" value="哈士奇小哈"/>
    </bean>
    <bean name="ssss" id="d4" class="com.summit.common.injectDemo.model.Dog">
        <property name="name" value="哈士奇小哈哈"/>
    </bean>
    <bean id="d5" name="db" class="com.summit.common.injectDemo.model.Dog">
        <property name="name" value="哈士奇小哈哈哈"/>
    </bean>
    <bean class="com.summit.common.injectDemo.model.Cat">
        <property name="name" value="小喵"/>
    </bean>
    <bean class="com.summit.common.injectDemo.model.Cat">
        <property name="name" value="小喵喵"/>
    </bean>

    <bean class="com.summit.common.injectDemo.controller.DemoInject">
        <property name="name" value="张三"/>
    </bean>

    <!--&lt;!&ndash;原生websocket实现&ndash;&gt;
    <websocket:handlers>
        <websocket:mapping path="/ws.do" handler="demoWSHandler"/>
        <websocket:handshake-interceptors>
            <bean class="com.summit.common.websocket.HandshakeInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>-->

    <!--sockjs实现websocket-->
    <!--  <websocket:handlers>
          <websocket:mapping path="/ws.do" handler="demoWSHandler"/>
          <websocket:handshake-interceptors>
              <bean class="com.summit.common.websocket.HandshakeInterceptor"/>
          </websocket:handshake-interceptors>
          <websocket:sockjs/>
      </websocket:handlers>
      <bean id="demoWSHandler" class="com.summit.common.websocket.DemoWSHandler"/>-->

    <!--encache相关配置start-->
    <cache:annotation-driven cache-manager="cacheManager"/>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"></property>
    </bean>

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:spring/ehcache-setting.xml"></property>
    </bean>
    <!--encache相关配置end-->

</beans>