<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <!-- 加载properties文件,数据库配置放在spring-mybatis.xml
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean> -->

    <!-- 項目自定义的Realm -->
    <bean id="shiroRealm" class="com.summit.framework.shiro.MyShiroRealm">
        <property name="cachingEnabled" value="true"/>
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>

    <!-- Shiro securityManager -->
    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroRealm"/>
    </bean>

    <!-- Shiro Filter -->
    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/pages/common/login.jsp"/>
        <property name="successUrl" value="/pages/common/index.jsp"/>
        <property name="unauthorizedUrl" value="/pages/common/error.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                /pages/common/login.jsp = anon
                /pages/common/index.jsp = authc
                /pages/** = anon
                /**/*.do = anon
                /springws/** = anon
                /**/*.jsp = anon
                /**/*.css = anon
                /**/*.js = anon
                /** = authc
            </value>
        </property>
    </bean>

    <!-- 配置MultipartResolver 用于文件上传 使用spring的CommosMultipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="209715200"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="uploadTempDir" value="temp/fileUpload"/>
    </bean>

    <!--全局异常处理-->
    <bean id="exceptionSolver" class="com.summit.base.CommonExceptionResolver"/>

    <bean name="d2,d3" id="d1" class="com.summit.common.injectDemo.model.Dog">
        <property name="name" value="哈士奇小哈"/>
    </bean>
    <bean name="ssss" id="d4" class="com.summit.common.injectDemo.model.Dog">
        <property name="name" value="哈士奇小哈哈"/>
    </bean>
    <bean id="d5" name="db" class="com.summit.common.injectDemo.model.Dog">
        <property name="name" value="哈士奇小哈哈哈"/>
    </bean>
    <bean class="com.summit.common.injectDemo.model.Cat">
        <property name="name" value="小喵"/>
    </bean>
    <bean class="com.summit.common.injectDemo.model.Cat">
        <property name="name" value="小喵喵"/>
    </bean>

    <bean class="com.summit.common.injectDemo.controller.DemoInject">
        <property name="name" value="张三"/>
    </bean>

    <!--&lt;!&ndash;原生websocket实现&ndash;&gt;-->
    <!--<websocket:handlers>-->
    <!--<websocket:mapping path="/MySSMDemo/ws" handler="demoWSHandler"/>-->
    <!--<websocket:handshake-interceptors>-->
    <!--<bean class="HandshakeInterceptor"/>-->
    <!--</websocket:handshake-interceptors>-->
    <!--</websocket:handlers>-->
    <!--&lt;!&ndash;&lt;!&ndash;sockjs实现websocket&ndash;&gt;-->
    <!--<websocket:handlers>-->
    <!--<websocket:mapping path="/springws/websocket" handler="demoWSHandler"/>-->
    <!--<websocket:handshake-interceptors>-->
    <!--<bean class="com.ld.net.spider.demo.ws.HandshakeInterceptor"/>-->
    <!--</websocket:handshake-interceptors>-->
    <!--<websocket:sockjs/>-->
    <!--</websocket:handlers>&ndash;&gt;-->
    <!--<bean id="demoWSHandler" class="DemoWSHandler"/>-->

</beans>